



.grad {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    z-index: 1;
    opacity: 0.7;
}

.header {
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 255px);
    z-index: 2;
}

    .header div {
        float: left;
        color: #e84a4a;
        font-family: 'Exo', sans-serif;
        font-size: 35px;
        font-weight: 200;
    }

        .header div span {
            color: #5379fa !important;
        }

.login {
    position: absolute;
    top: calc(50% - 75px);
    left: calc(50% - 50px);
    height: 150px;
    width: 350px;
    padding: 10px;
    z-index: 2;
}

    .login input[type=text] {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid #a2f8e6;
        border-radius: 2px;
        color: #e84a4a;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
    }

    .login input[type=password] {
        width: 250px;
        height: 30px;
        background: transparent;
        border: 1px solid #a2f8e6;
        border-radius: 2px;
        color: #e84a4a;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 4px;
        margin-top: 10px;
    }

    .button {
        width: 260px;
        height: 35px;
        background: #043fff;
        border: 1px solid #3faeee;
        cursor: pointer;
        border-radius: 2px;
        color: #fff;
        font-family: 'Exo', sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding: 6px;
        margin-top: 10px;
    }

        .button:hover {
            opacity: 0.8;
        }

        .button:active {
            opacity: 0.6;
        }

    .login input[type=text]:focus {
        outline: none;
        border: 1px solid #f5eb3f;
    }

    .login input[type=password]:focus {
        outline: none;
        border: 1px solid #f5eb3f;
    }

    .button:focus {
        outline: none;
    }

::-webkit-input-placeholder {
    color: #e84a4a;
}

::-moz-input-placeholder {
    color: #e84a4a;
}
